# OTF's files
otf_catchment_area-census_division_concordance_file.csv
otf_granting_data_fiscal_year_2000-2015_20150717.csv
otf_granting_data_since_april_1_2015.csv

# Jupyter backups
.ipynb_checkpoints/

# Census boundary files
can_gis/

# Experimental ipynbs
Jupyter Interactors.ipynb
